APScheduler==3.5.3
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.3
decorator==4.0.4
funcsigs==1.0.2
futures==3.2.0
idna==2.6
pathlib==1.0.1
psutil==3.2.2
pytz==2018.7
requests==2.18.4
selenium==3.0.1
six==1.10.0
spotipy==2.4.4
thefuck==3.2
tzlocal==1.5.1
urllib3==1.22
vboxapi==1.0
